<%= form_for @player, url: players_path do |f| %>
  <%= label_tag :nickname %>
  <%= f.text_field :nickname %><br />
  <%= label_tag :rank %>
  <%= f.text_field :rank %><br />
  <%= label_tag :charisma %>
  <%= f.text_field :charisma %><br />
  <%= label_tag :wisdom %>
  <%= f.text_field :wisdom %><br />
  <%= f.submit "Create" %><br />
<% end %>