<% if @players == [] %>
    <p>Don't find players </p>
<% else %>
    <% @players.each do |player| %> 
      <%= player.nickname %><br />
      <%= player.rank %><br />
      <%= link_to "Show", player_path(player.id)%></p>
    <% end %>
<% end %>
<%= link_to "New player",  new_player_path %>
